<!DOCTYPE html>
<html>
    <head>
        <title>Deployment Services</title>
    </head>
    <body>
        <h1>Hello Deployment Services</h1>
        <h2>Current date and time: {{ date }}</h2>
    </body>
</html>


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Application</title>
</head>
<body>
    <h1>{{ message }}</h1>
    <form method="POST">
        <input type="text" name="message" placeholder="Enter a new message" required>
        <input type="submit" value="Change Message">
    </form>
</body>
</html> -->